@import "normalize";
/*General*/
$font: HelveticaNeueCyr, Verdana, Arial, sans-serif;

html,body{
	height: 100%;
	width: 100%;
}

#wrapper{
	width: 100%;
	#header{
		width: 100%;
		height: 60px;
		background-color: #FF6633;
		display: flex;
		flex-direction:row;
		justify-content:space-around;
		align-items:flex-end;
		flex-wrap:nowrap;
		min-width: 1000px;


		#logo{
			width: 20%;
			height: 100%;

			-webkit-transition: all 0.4s ease;
			-o-transition: all 0.4s ease;
			transition: all 0.4s ease;

				&:hover{
					background-color:#CC3300;
				}

			#cp{
				margin-left: 32px;
				margin-right: 15px;
				margin-top: 2px;
			}
			a{
				height: 100%;
			}
			img:last-child{
				margin-bottom: 2px;
			}
		}


		.nav{
			height: 100%;
			width: 60%;
			min-width: 60%;
			display: flex;
			flex-direction:row;
			justify-content:space-around;
			list-style: none;
			font-family: $font;
			padding:0;
			margin:0;
			li{
				width: 25%;
				display: block;
				height: 100%;
				text-align: center;
				-webkit-transition: all 0.4s ease;
				-o-transition: all 0.4s ease;
				transition: all 0.4s ease;
				&:hover{
					background-color:#CC3300;
				}

				a{
					display: block;
					height: 100%;
					width: 100%;
					margin-top: 9px;
					color:white;
					font-weight: bold;
					font-size: 33px;
					text-decoration: none;


				}
			}

		}


		.search{
			width: 20%;
			height: 100%;

			-webkit-transition: all 0.4s ease;
			-o-transition: all 0.4s ease;
			transition: all 0.4s ease;

				&:hover{
					background-color:#CC3300;
				}

			form{
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction:row-reverse;
				justify-content:flex-start;


			div{
				height: 100%;
				position: relative;
				z-index: 1;


				#area{
					margin-top: 12px;
					padding-left: 10px;
					height: 30px;
					width: 85px;
					background-color: #CCCCCC;
					border-radius: 15px;
					border-color: #333333;
					-webkit-transition: all .4s ease;
					-o-transition: all .4s ease;
					transition: all .4s ease;
					&:focus{
						width:133px;
					}

				}

				&:before{
					content: "";
					position: absolute;
					z-index: -1;
					top: 2px;
					left: -45px;
					height: 100%;
					width: 37px;
					background-image: url(../img/pers.png);
					background-repeat: no-repeat;
				}

				}
				#searcher{
					height: 25px;
					margin: 16px 5px 0 5px;

				}

			}
		}
	}
}